@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html {
        font-family: 'Open Sans', sans-serif;
        color:#4b6577;
    }
    h1{
        font-family: 'Great Vibes', cursive;
        @apply text-4xl text-center text-black;
    }
    h2{
        font-family: 'Dancing Script', cursive;
        @apply text-3xl font-semibold text-black mb-4
    }
    h3{
        @apply text-lg font-semibold
    }
}